@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(32, 52, 62);
    font-family: "Orbitron", sans-serif;
    font-size: 25px;
    color: rgb(109, 195, 229);
}

.total {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(20px, auto);
    box-sizing: border-box;
    background: rgb(30, 49, 58);
}

.information {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}

.tone {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    border-radius: 1%;
}

.slider {
    grid-column: 3;
    grid-row: 2;
}

.bar {
    grid-column: 3;
    grid-row: 3;
}

.counter {
    grid-column: 3;
    grid-row: 4;
    width: 25px;
    text-align: center;
}

#map {
    grid-column: 3;
    grid-row: 5/9;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    border-radius: 100%;
}

.symbol {
    grid-column: 2;
    grid-row: 2/7;
}

.logo {
    width: 20vw;
    height: auto;
    position: absolute;
    left: 40%;
}

.chart {
    grid-column: 2;
    grid-row: 8/9;
    width: 100%;
    height: 100%;
}

.animation {
    border-radius: 1%;
    background: rgb(91, 145, 145);
    grid-column: 1;
    grid-row: 2/5;
    width: 100%;
    height: 100%;
    text-align: center;
}

.zdog {
    border-radius: 10%;
    background: rgb(91, 145, 145);
    grid-column: 1;
    grid-row: 5/9;
    width: 100%;
    height: 100%;
}

.icones {
    grid-column: 3/4;
    grid-row: 9;
    display: flex;
    gap: 100px;
    font-size: 2rem;
}

.buttons {
    height: 100%;
    grid-column: 1/3;
    grid-row: 9;
    display: flex;
    gap: 30px;
}